{% extends 'dashboard.html' %}

{% block dashboard_content %}
<div class="Categories">
  <a class="Button__back" href="{% url 'products' %}">← Volver a products</a>
  <div class="Categories__header">
    <h1>Categories</h1>
      <a class="Button__add" href="{% url 'category_create' %}">Add Category</a>
  </div>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for category in list_categories %}
      <tr>
        <td>{{ category.id }}</td>
        <td>{{ category.name }}</td>
        <td class="Buttons__actions">
          <a class="Button__edit" href="">Editar</a>
          <a class="Button__delete" href="">Eliminar</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

{% endblock %}
