{% extends "dashboard.html" %}

{% block dashboard_content %}
  <div class="Suppliers">
    <div class="Suppliers__header">
      <h2>Lista de Proveedores</h2>
      <a class="Button__add" href="{% url 'create_supplier' %}">Nuevo Proveedor</a>
    </div>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Contacto</th>
          <th>Email</th>
          <th>Teléfono</th>
          <th>Dirección</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for supplier in list_suppliers %}
        <tr>
          <td>{{ supplier.id }}</td>
          <td>{{ supplier.name }}</td>
          <td>{{ supplier.contact_person }}</td>
          <td>{{ supplier.email }}</td>
          <td>{{ supplier.phone }}</td>
          <td>{{ supplier.address }}</td>
          <td class="Buttons__actions">
            <a class="Button__edit" href="{% url 'edit_supplier' supplier.id %}">Editar</a>
            <form method="POST" action="{% url 'delete_supplier' supplier.id %}" class="Button__delete-form">
              {% csrf_token %}
              <button type="submit" class="Button__delete">Eliminar</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
{% endblock %}
