{% extends "dashboard.html" %} 
{% block dashboard_content %}
<div class="Customers">
  <h1 class="Customers__title">Clientes</h1>
  <div class="Customers__search">
    <form method="GET" action="{% url 'customer_filter' %}" class="Customers__form">
      <input type="text" name="cc" placeholder="Buscar por Identificación" value="{{ search_cc|default:'' }}" class="Customers__input">
      <button type="submit" class="Button__filter">Buscar</button>
    </form>
    <a class="Button__add" href="{% url 'create_customer' %}">Nuevo Cliente</a>
  </div>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Identificación</th>
      <th>Correo</th>
      <th>Teléfono</th>
      <th>Creado</th>
      <th>Compras</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for customer in customers %}
    <tr>
      <td>{{ customer.id }}</td>
      <td>{{ customer.first_name }}</td>
      <td>{{ customer.cc }}</td>
      <td>{{ customer.email }}</td>
      <td>{{ customer.phone_number }}</td>
      <td>{{ customer.created_at }}</td>
      <td>Ver Compras</td>
      <td class="Buttons__actions">
        <a class="Button__edit" href="{% url 'edit_customer' customer.id %}">Editar</a>
        <form method="POST" action="{% url 'delete_customer' customer.id %}" class="Button__delete-form">
          {% csrf_token %}
          <button type="submit" class="Button__delete">Eliminar</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

</div>
{% endblock %}
