{% extends "layout/base.html" %} 

{% block header %}
<h1>Welcome, start session for open.</h1>
{% endblock %}

{% block content %}
<div class="login__container">
  <h1>Login</h1>
  <form class="login__form" action="">
    <label class for="username">Username:</label>
    <input class="form__input" type="text" id="username" name="username" required />

    <label class for="password">Password:</label>
    <input class="form__input" type="password" id="password" name="password" required />

    <button class="form__button" type="submit">Login</button>
  </form>
</div>
{% endblock %}
