{% extends 'dashboard/dashboard.html' %}

{% block dashboard_content %}
<div class="Products">
<div class="Products__header"> 
  <h1>Products</h1>
  <button>Add Product</button>
</div>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Price</th> 
      <th>Stock</th>
      <th>Is Active</th>
      <th>Category</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for product in list_products %}
    <tr>
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.sale_price }}</td>
      <td>{{ product.stock }}</td>
      <td>{{ product.is_active }}</td>
      <td>{{ product.category }}</td>
      <td class="Buttons__actions">
        <a class="Button__edit" href="">Editar</a>
        <a class="Button__delete" href="">Eliminar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

</div>

{% endblock %}
